body{
    /* padding: auto; */
    padding-bottom: 2%;
    padding-top: 2%;
}



.card{
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    width: 20rem;
}


.features .descriptionCardExpert {
    padding: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    

    
}



.descriptionCard{
    padding-left: 1%
    
}



